<!-- partial HTML -->
<div id="ov-sample-custom">
    <div class="button-panel">
        <div class="my-button" ng-click="getData()">
            Fetch OWD
        </div>
    </div>

    <div class="data-panel">
        <table>
            <tr>
                <td> One-Way Delay </td>
                <td class="owd"> {{data.owd}}e-7 s </td>
            </tr>
        </table>
    </div>

    <div class="button-panel">
        <div class="my-button" ng-click="removeFile()">
            Erase OWD
        </div>
    </div>
    <!--
    <div class="button-panel">
        <div class="my-button" ng-click="checkOWD()">
            Check OWD
        </div>
    </div>
    --!>
</div>
